@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-slate-900 antialiased;
  font-family: 'Inter', sans-serif;
}

a {
  @apply text-brand-pink;
}

button:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  @apply outline-none ring-2 ring-brand-pink ring-offset-2 ring-offset-brand-dark;
}
